{% extends 'layouts/dashboard.html.twig' %}


{% block title %}| Convênio {% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="/dist/css/iziToast.min.css">
{% endblock %}

{% block breadcrumb %}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
            </div>
        </div><!-- /.container-fluid -->
    </section>

{% endblock %}


{% block content %}
    <section class="content">

        <div class="row">
            <div class="col-12">

                <div class="card card-primary">
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form role="form" action="/convenio/salvareditar" method="post" class="jsonForm">
                        <div class="card-body">
                            <div class="form-group row">
                                <h3>Editar Convênio</h3>
                                <div class="form-group col">
                                    <a role="button" href="/convenio/" class="btn btn-info float-right"   ><span class="fas fa-list"></span></a>
                                    <a role="button" href="/convenio/formCadastrar" class="btn btn-success float-right"><span class="fas fa-user-plus"></span></a> 
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="form-group col-md-1">
                                    <label for="id_convenio">Código</label>
                                    <input type="number" class="form-control" id="id_convenio" name="id_convenio" readonly value="{{ linha['id_convenio'] }}">
                                </div>
                                <div class="form-group col">
                                    <label for="nome_convenio">Nome</label>
                                    <input type="text" class="form-control" id="nome_convenio" name="nome_convenio" placeholder="Nome do Convênio" required value="{{ linha['nome_convenio'] }}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="form-group col">
                                    <label for="cnpj_convenio">CNPJ</label>
                                    <input type="text" class="form-control" id="cnpj_convenio" name="cnpj_convenio" placeholder="CNPJ do Convênio" value="{{ linha['cnpj_convenio'] }}">
                                </div>
                                <div class="form-group col">
                                    <label for="telefone_convenio">Telefone</label>
                                    <input type="text" class="form-control" id="telefone_convenio" name="telefone_convenio" placeholder="Telefone do Convênio" required value="{{ linha['telefone_convenio'] }}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="form-group col">
                                    <label for="responsavel_convenio">Responsável</label>
                                    <input type="text" class="form-control" id="responsavel_convenio" name="responsavel_convenio" placeholder="Responsável do Convênio" value="{{ linha['responsavel_convenio'] }}">
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->

                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary float-right">Salvar</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
        <!-- /.row -->
    </section>

{% endblock %}



{% block javascriptPlugins %}
    <script src="/dist/js/jquery.form.js"></script>
    <script src="/dist/js/iziToast.min.js"></script>
    <script src="/plugins/moment/moment.min.js"></script>
    <script src="/plugins/inputmask/jquery.inputmask.min.js"></script>
{% endblock %}

{% block jquery %}
    <script>
        $(document).ready(function(){
            $('#cnpj_convenio').inputmask('99.999.999/9999-99');        
            $('#telefone_convenio').inputmask('(99) 9999-9999');        
            $('.jsonForm').ajaxForm({
                dataType:  'json',

                success:   function(d){
                    if (d.status==0){
                        iziToast.error({
                            message: d.mensagem
                        });
                    }else{
                        iziToast.success({
                            message: d.mensagem,
                            onClosed: function(){
                                document.location = "/convenio";
                            }
                        });

                    }
                }

            });
        });
    </script>
{% endblock %}

{% block javascript %}
{% endblock %}
