{% extends 'layouts/dashboard.html.twig' %}


{% block title %}|  Valores de Referência | Cadastrar{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="/dist/css/iziToast.min.css">
    <link rel="stylesheet" href="/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
{% endblock %}

{% block breadcrumb %}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
            </div>
        </div><!-- /.container-fluid -->
    </section>

{% endblock %}


{% block content %}
    <section class="content">

        <div class="row">
            <div class="col-12">

                <div class="card card-primary">
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form role="form" action="/valorreferencia/salvareditar" method="post" class="jsonForm">
                        <div class="card-body">
                            <div class="form-group row">
                                <h3>Editar Valor de Referência</h3>
                                <div class="form-group col">
                                    <a role="button" href="/valorreferencia/" class="btn btn-info"   ><span class="fas fa-list"></span></a>
                                    <a role="button" href="/valorreferencia/formCadastrar" class="btn btn-success"><span class="fas fa-user-plus"></span></a> 
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="form-group col-md-1">
                                    <label for="id_valorreferencia">Código</label>
                                    <input type="number" class="form-control" id="id_valorreferencia" name="id_valorreferencia" readonly value="{{ linha['id_valorreferencia'] }}">
                                </div>
                                <div class="form-group col">
                                    <label for="exame_valorreferencia">Exame</label>
                                    <select id="exame_valorreferencia" class="form-control select2" name="exame_valorreferencia" required   >
                                       <option value="">- Selecione -</option>
                                        {% for exames in exames %}
                                            {% set selected = '' %}
                                            {% if exames.id_exame == linha['exame_valorreferencia'] %}
                                                {% set selected = 'selected' %}
                                            {% endif %}
                                            <option value="{{ exames.id_exame }}" {{ selected }}>{{ exames.nome_exame }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group col">
                                    <label for="unidademedida_valorreferencia">Unidade de Medida</label>
                                    <select id="unidademedida_valorreferencia" class="form-control select2" name="unidademedida_valorreferencia" required   >
                                        <option value="">- Selecione -</option>
                                        {% for unidadesmedida in unidadesmedida %}
                                            {% set selected = '' %}
                                            {% if unidadesmedida.id_unidademedida == linha['unidademedida_valorreferencia'] %}
                                                {% set selected = 'selected' %}
                                            {% endif %}
                                            <option value="{{ unidadesmedida.id_unidademedida }}" {{ selected }}>{{ unidadesmedida.unidademedida }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="form-group col">
                                    <label for="sexo">Sexo</label>
                                    <select class="form-control select2" id="sexo" name="sexo" required>{% set selected = 'selected' %}
                                        <option value="" selected disabled>-Selecione-</option>
                                        <option value="Masculino" {% if linha['sexo'] == 'Masculino' %}{{selected}}{% endif %}>Masculino</option>
                                        <option value="Feminino" {% if linha['sexo'] == 'Feminino' %}{{selected}}{% endif %}>Feminino</option>
                                        <option value="Ambos" {% if linha['sexo'] == 'Ambos' %}{{selected}}{% endif %}>Ambos</option>
                                    </select>
                                </div>
                                <div class="form-group col">
                                    <label for="idade_min">Idade Mínima</label>
                                    <input type="number" class="form-control" id="idade_min" name="idade_min" placeholder="Idade de Referência Mínima"  value="{{ linha['idade_min'] }}">
                                </div>
                                <div class="form-group col">
                                    <label for="idade_max">Idade Máxima</label>
                                    <input type="number" class="form-control" id="idade_max" name="idade_max" placeholder="Idade de Referência Máxima"  value="{{ linha['idade_max'] }}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="form-group col">
                                    <label for="valorreferencia_min">Valor de Referência Mínimo</label>
                                    <input type="number" class="form-control" id="valorreferencia_min" name="valorreferencia_min" placeholder="Valor de Referência Mínimo" value="{{ linha['valorreferencia_min'] }}">
                                </div>
                                <div class="form-group col">
                                    <label for="valorreferencia">Valor Referência Fixo</label>
                                    <input type="number" class="form-control" id="valorreferencia" name="valorreferencia" placeholder="Valor de Referencia Fixo" value="{{ linha['valorreferencia'] }}">
                                </div>
                                <div class="form-group col">
                                    <label for="valorreferencia_max">Valor de Referência Máximo</label>
                                    <input type="number" class="form-control" id="valorreferencia_max" name="valorreferencia_max" placeholder="Valor de Referência Máximo"  value="{{ linha['valorreferencia_max'] }}">
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->

                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Salvar</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
        <!-- /.row -->
    </section>

{% endblock %}



{% block javascriptPlugins %}
    <script src="/dist/js/jquery.form.js"></script>
    <script src="/dist/js/iziToast.min.js"></script>
    <script src="/plugins/select2/js/select2.full.min.js"></script>
{% endblock %}

{% block jquery %}
    <script>
        $(document).ready(function(){
            $('.select2').select2({
                theme: 'bootstrap4'
            });
           
            $('.jsonForm').ajaxForm({
                dataType:  'json',

                success:   function(d){
                    if (d.status==0){
                        iziToast.error({
                            message: d.mensagem
                        });
                    }else{
                        iziToast.success({
                            message: d.mensagem,
                            onClosed: function(){
                                document.location = "/valorreferencia";
                            }
                        });

                    }
                }

            });
        });
    </script>
{% endblock %}

{% block javascript %}
{% endblock %}
