{% extends 'layouts/dashboard.html.twig' %}


{% block title %} | Guia | Listagem{% endblock %}
{% block stylesheet %}
    <link href="/dist/js/jquery.bootgrid.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/dist/css/iziToast.min.css">
{% endblock %}

{% block breadcrumb %}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
            </div>
        </div><!-- /.container-fluid -->
    </section>
{% endblock %}


{% block content %}
    <section class="content">
            {% for guias in guiaDados %}
                <pre>
                {{ dump(valorreferencia) }}
                    </pre>
                    <div class="row">
                        <div class="col">
                            <div class="conteudo">
                                <div class="card" id="lista">
                                    <div class="card-header">
                                        <h4>{{guias.data_guia}}
                                            <form method="POST" action="/AcessoCliente/FormPDF/{{guias.id_guia}}">
                                                <input type="hidden" name="datanascimento_cliente" value="{{guias.datanascimento_cliente}}">
                                                <input type="submit" value="Gerar PDF" class="btn btn-info">
                                            </form>
                                        </h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="firstinfo">
                                            <div class="profileinfo">
                                                <h3> {{guias.nome_cliente}} - {{guias.nome_medico}} </h3>
                                                <table class="table">
                                                <thead>
                                                <tr>
                                                    <th>Nome do Exame</th>
                                                    <th>Resultado</th>
                                                    <th>Valor de Referência</th>
                                                </tr>
                                                </thead>
                                                {% for exame in guias.exames %}
                                                    <tr>
                                                        <td>{{exame.nome_exame}}</td>
                                                        <td>{{exame.resultado}}</td>
                                                        <td>Entre {{exame.idade_min}} e {{valorreferencia['idade_max']}}: {{valorreferencia.valorreferencia}}</td>
                                                    </tr>
                                                {% endfor %}
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            {% endfor %}
        <!-- /.row -->
    </section>

{% endblock %}



{% block javascriptPlugins %}
    <script src="/dist/js/jquery.bootgrid.js"></script>
    <script src="/dist/js/jquery.bootgrid.fa.js"></script>
    <script src="/dist/js/iziToast.js"></script>
    <script src="/dist/js/iziToastExcluir.js"></script>
{% endblock %}

{% block jquery %}
    <script>
        var grid;
        $(document).ready(function(){
            grid = $("#grid-data").bootgrid({
                ajax: true,
                url: "/AcessoCliente/bootgrid",
                formatters: {
                    "commands": function(column, row)
                    {
                        return "<button type=\"button\" class=\"btn btn-success command-cadastro\" data-row-id=\"" + row.id_guia + "\"><span>Ver Resultados</span></button>";
                    }
                }
            }).on("loaded.rs.jquery.bootgrid", function()
            {
                grid.find(".command-cadastro").on("click", function(e)
                {
                    document.location = '/guia/formcadastrarExame/' + $(this).data("row-id");

                })
            });
        });


    </script>


{% endblock %}

{% block javascript %}
{% endblock %}
