{% extends 'layouts/dashboard.html.twig' %}


{% block title %}| Médico | Cadastrar{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="/dist/css/iziToast.min.css">
    <link rel="stylesheet" href="/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
{% endblock %}

{% block breadcrumb %}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Médico
                        <small>Editar</small></h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li class="breadcrumb-item active">Médico</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

{% endblock %}


{% block content %}
    <section class="content">

        <div class="row">
            <div class="col-12">

                <div class="card card-primary">
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form role="form" action="/medico/salvareditar" method="post" class="jsonForm">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="id_medico">Código</label>
                                <input type="number" class="form-control" id="id_medico" name="id_medico" readonly value="{{ linha['id_medico'] }}">
                            </div>
                            <div class="form-group">
                                <label for="nome_medico">Nome do Profissional</label>
                                <input type="text" class="form-control" id="nome_medico" name="nome_medico" placeholder="Editar nome do Profissional" required value="{{ linha['nome_medico'] }}">
                            </div>
                            <div class="form-group">
                                <label for="crm_medico">Conselho Regional</label>
                                <input type="text" class="form-control" id="crm_medico" name="crm_medico" placeholder="Editar conselho Regional do Profissional" required value="{{ linha['crm_medico'] }}">
                            </div>
                            <div class="form-group">
                                <label for="telefone_medico">Telefone</label>
                                <input type="text" class="form-control" id="telefone_medico" name="telefone_medico" placeholder="Editar telefone do Profissional" required value="{{ linha['telefone_medico'] }}">
                            </div>
                            <div class="form-group">
                                <label for="especialidade_medico">Especialidade</label>
                                <select class="form-control select2" id="especialidade_medico" name="especialidade_medico">
                                <option value="">- Selecione -</option>
                                    {% for especialidades in especialidades %}
                                        {% set selected = '' %}
                                        {% if especialidades.id_especialidade == linha['especialidade_medico'] %}
                                            {% set selected = 'selected' %}
                                        {% endif %}
                                        <option value="{{ especialidades.id_especialidades }}" {{ selected }}>{{ especialidades.especialidade }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <!-- /.box-body -->

                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Salvar</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
        <!-- /.row -->
    </section>

{% endblock %}



{% block javascriptPlugins %}
    <script src="/dist/js/jquery.form.js"></script>
    <script src="/dist/js/iziToast.min.js"></script>
    <script src="/plugins/select2/js/select2.full.min.js"></script>

{% endblock %}

{% block jquery %}
    <script>
        $(document).ready(function(){
            $('.select2').select2({
                theme: 'bootstrap4'
            });

            $('.jsonForm').ajaxForm({
                dataType:  'json',

                success:   function(d){
                    if (d.status==0){
                        iziToast.error({
                            message: d.mensagem
                        });
                    }else{
                        iziToast.success({
                            message: d.mensagem,
                            onClosed: function(){
                                document.location = "/medico";
                            }
                        });

                    }
                }

            });
        });
    </script>
{% endblock %}

{% block javascript %}
{% endblock %}
